*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color:white;
}
/* main{
    width: 1500px;
} */
.btnn{
    background: #6D1830;
    padding: 12px 40px;
    justify-content: center;
align-items: center;
color: white;
border-radius: 4px;

}

.home{
    justify-content: center;
    align-items: center;
}
.sect1{
    background-color: #14394C;
    width: 1686px;
    display: flex;
    gap: 700px;
    height: 30vh;
    padding: 80px;
    color: #fff;
}
.viewe h4{
    font-size: 48px;
    line-height: 32px;

}
.viewe p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.viewimg{
    /* width: 6px; */
}
.viewimg span{
    width: 375px;
    font-size: 18px;
    
}
.sec22{
    background-color: #FFF9F2;
    width: 1686px;
    height: 400vh;
  
    
}
.sec2{
    padding-top: 50px;
    gap: 400px;
    display: flex;
    padding-left: 80px
}
.sec2text{
    width: 585px;
    margin-top: 150px;


}
.sec2text p{
    font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
}
.sec2text h4{

font-size: 32px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0px;
text-align: left;

}
.sec3{
    background-color: #FFF9F2;
    width: 1400px;
    border-bottom: 2px solid var(--Primary-floral-white-500, #14394C);
   padding: 100px, 0px, 100px, 0px;
    /* height: 80vh; */
    margin-left: 80px;
    height: 600px;
}
.sec33{
    background-color: #14394C;
    width: 600px;
    display: flex;
    color: #fff;
    width: 1400px;
    gap: 300px;
    height: 406px;
    /* height: 40vh; */
}
.movesec33{
    display: flex;
    width: 1400px;
    gap: 300px;
    position: relative;
    left: 120px;
}

.sec3img img{
   position: relative;
   bottom: 100px;
}
.sec3text{
    width: 286px;
    margin-top: 100px;
}
.sec44{
    flex-direction: column;
}
.sec4text{
    text-align: center;
    padding: 50px 0;
}
.accordion{
   max-width: 700px;
   /* box-shadow: 0 0 0 2px; */
   border-radius: 5px;
   position: relative;
   left: 500px;
   overflow: hidden;
   background: #FFF9F2;
}
.accordion__label, .accordion__content{
    padding: 18px 26px;
}
.accordion__label{
    display: block;
    color: black;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
    
}
.accordion__label:hover{
    background: #FFF9F2;

}
.accordion__label::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image:url(img/Media/211690_up_arrow_icon.svg);
    background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  background: #FFF9F2;
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
  border-bottom: 1px solid #14394C;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}
.sec7{
    display: flex;
    background-color: #14394C;
    border: none;
    position: relative;
    top: 60px;
    border: 0;
    border-top: none;

}
.sec7text{
    position: relative;
    top: 250px;
    left: 100px;
    width: 400px;
    color: #FFF;
}
.sec7text button{
    background-color: #FFF;
    width:  182px;
height:58px;
padding: 56px, 38px, 56px, 38px;
border-radius: 4px;
gap: 4px;

}
.sect8{
    position: relative;
    top: 150px;
    gap: 40px;
    flex-direction: column;
    max-width: 1444px;
}
.sec8text{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.boxes{
    gap: 20px;
    width: 1199px;
    position: relative;
    left: 250px;
}
.box1{
    width: 387px;
    border: 1px solid #14394C;
}
.box2{
    width: 387px;
    border: 1px solid #14394C;
}
.box3{
    width: 387px;
    border: 1px solid #14394C;
}
.sec1010{
    position: relative;
    width: 1685px;
    top: 300px;
    background-color: #6D1830;
    width: 1,440px;
height: 192px;
padding: 64px, 120px, 64px, 120px;
gap: 10px;

}
.sec10{
    width: 1200px;
    position: relative;
    top: 100px;
    left: 180px;
    color: #FFF;
height: 64px;
gap: 32px;

}
.btn1 {
    background-color: #FFF9F2 !important;
    border: none !important;
    color: #6D1830 !important;
    
}
#password{
    width: 500px;
    padding: 64px, 120px, 64px, 120px;
    height: 40px;
    border-radius: 5px;
    border: transparent;
}
.bots{
    position: relative;
    left: 300px;
}
.sec111{
    position: relative;
    top: 400px;
}
.ending{
    gap: 40px;
    width:1200px;
height: 84px;
margin-left: 170px;
justify-content: space-between;

}
.endlogo{
    justify-content: space-between;
    
}
.endlogo a{
    text-decoration: none;
    color: #000;
}
.endlogo img{
    width: 50px;
}
.spann{
    margin-right: 20px;
    position: relative;
    top: 20px;
    right: 20px;
}
.spann span{
    justify-content: space-between;
    margin-left: 20px;
}
.iconss{
    width: 1200px;
height: 56px;
gap: 780px;
position: relative;
top: 80px;
left: 170px;
padding-top: 30px;
border-top: 1px solid var(--Primary-floral-white-500,rgba(229, 231, 235, 1));

}
.spanter a{
    text-decoration: none;
    color: #000;
}
.spanter span{
    margin-left: 20px;
}
@media (Max-width:481px){
    body{
        width: 407px;
   
    }
    header{
        width: 375px;

    }
    .btnn{
        background: #6D1830;
        padding: 12px 40px;
        justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    
    }
    .home{
        justify-content: center;
        align-items: center;
        width: 400px;
    }
    main{
        width: 410px;
    }
    .sect1{
        background-color: #14394C;
        width: 407px;
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 50px;
        height: 30vh;
        padding: 80px;
        padding-top: 30px;
        padding-left: 20px;
        color: #fff;
    }
    
    .viewe h4{
        font-size: 28px;
        line-height: 32px;
        padding-top: 20px;
    
    }
    .viewe p{
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
    }
    .veiwimg{
        display: none;
        visibility: hidden;
    }
    .veiwimg img{
        width: 6px;
        visibility: hidden;
        display: none;
    }
    .sect1 img{
        display: none;
    }
    .viewimg span{
        width: 375px;
        font-size: 18px;
        visibility: hidden;
        display: none;
        color: black;
        
    } 
    .sec22{
        background-color: #FFF9F2;
        width: 407px;
        height: 600vh;
        /* margin-bottom: 500px; */
        
    }
    .sec2{
        padding-bottom: 400px;
        gap: 50px;
        display: flex;
        flex-direction: column;
        padding-left: 20px
    }
    .sec2text{
        width: 375px;
        margin-top: 20px;
    
    
    }
    .sec2text p{
        font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    }
    .sec2text h4{
    
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
}
.sec2img img{
    width: 350px;
}
.sec3{
    background-color: #FFF9F2;
    width: 407px;
    border-bottom: none;
   padding: 100px, 0px, 100px, 0px;
    /* height: 80vh; */
    margin-left: 10px;
    position: relative;
    bottom: 400px;
    height: 746px;
}
.sec33{
    background-color: #14394C;
    width: 407px;
    position: relative;
    right: 10px;
    color: #fff;
    /* width: 375px; */
height: 746px;
padding: 64px, 24px, 0px, 24px;



}
.movesec33{
    display: flex;
    flex-direction: column;
    width: 407px;
    position: relative;
    margin-bottom: 500px;
    bottom: 100px;
    left: 10px;
}


.sec3img img{
   position: relative;
   top: 300px;
   left: 10px;
   justify-content: center;
   align-items: center;
   /* width: 200px; */
}
.sec3text{
    width: 286px;
    position: relative;
    left: 50px;
    height: 204px;
    bottom: 900px;
    color: #fff;
    /* order: 1; */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sec4{
    position: relative;
    bottom: 400px;
    background-color: #FFF9F2;
    z-index: 3;
}
.sec44{
    flex-direction: column;
    position: relative;
    top: 50px;
}
.sec4text{
    /* text-align: center; */
    padding: 20px 0;
    width: 287px;
    margin-right: 30px;
}
.sec4text h4{
    width: 331px;
    font-size: 28px;
    line-height: 36px;
    margin-right: 30px;
}
.sec4text p{
    width: 331px;
    font-size: 20px;
}
.accordion{
    max-width: 700px;
    /* box-shadow: 0 0 0 2px; */
    border-radius: 5px;
    position: relative;
    left: 10px;
    overflow: hidden;
    background: #FFF9F2;
 }
 .accordion__label, .accordion__content{
     padding: 18px 26px;
 }
 .accordion__label{
     display: block;
     color: black;
     font-weight: 500;
     cursor: pointer;
     position: relative;
     transition: background 0.1s;
     
 }
 .accordion__label:hover{
     background: #FFF9F2;
 
 }
 .accordion__label::after{
     content: "";
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     right: 20px;
     width: 12px;
     height: 6px;
     background-image:url(img/Media/211690_up_arrow_icon.svg);
     background-size: contain;
   transition: transform 0.4s;
 }
 
 .accordion__content {
   background: #FFF9F2;
   line-height: 1.6;
   font-size: 0.85em;
   display: none;
   border-bottom: 1px solid #14394C;
 }
 
 .accordion__input {
   display: none;
 }
 
 .accordion__input:checked ~ .accordion__content {
   display: block;
 }
 
 .accordion__input:checked ~ .accordion__label::after {
   transform: translateY(-50%) rotate(0.5turn);
 }
 .sec7{
    display: flex;
    flex-direction: column;
    width: 410px;
    position: relative;
    top: -330px;
    height: 80vh;
    background-color: #14394C;
    border: none;
    border: 0;
    outline: none;
    border-top: none;

}
.sec7img img{
    width: 375px;
    height: 350px;
}
.sec7text{
    position: relative;
    top: 70px;
    left: 50px;
    width: 300px;
    color: #FFF;
font-size: 14px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0px;
text-align: center;

}
.sec7text button{
    background-color: #FFF;
    width:  182px;
height:58px;
padding: 56px, 38px, 56px, 38px;
border-radius: 4px;
gap: 4px;

}
.sect8{
    position: relative;
    bottom:400px;
    margin-bottom: 300px;
    left: 40px;
    top: -200px;
    gap: 30px;
    flex-direction: column;
    width: 327px;
    /* padding: 64px, 24px, 64px, 24px; */
}
.sect8text{
  
    text-align: center;
    width: 222px;
}
.boxes{
    gap: 20px;
    width: 375px;
    position: relative;
    flex-direction: column;
    left: 10px;
}
.box1{
    width: 327px;
    border: 1px solid #14394C;
}
.box2{
    width: 327px;
    border: 1px solid #14394C;
}
.box3{
    width: 327px;
    border: 1px solid #14394C;
}
.sec1010{
    position: relative;
    width: 414px;
    top: -400px;
    background-color: #6D1830;
    /* width: 1,440px; */
height: 50vh;
padding: 64px, 120px, 64px, 120px;
gap: 10px;

}
.sec10{
    width: 375px;
    flex-direction: column;
    position: relative;
    top: 100px;
    left: 20px;
    color: #FFF;
height: 64px;
gap: 32px;

}
.btn1 {
    background-color: #FFF9F2 !important;
    border: none !important;
    color: #6D1830 !important;
    
}
#password{
    width: 372px;
    padding: 64px, 120px, 64px, 120px;
    height: 40px;
    border-radius: 5px;
    border: transparent;
}
.bots{
    position: relative;
    left: -5px;
}
.sec111{
    position: relative;
    top: -400PX;
    background-color: #fff;

    width: 414px;
    height: 80vh;
    padding-bottom: 100px;

}
.ending{
    gap: 40px;
    width:410px;
    flex-direction: column;
height: 84px;
margin-left: 20px;
padding-top: 40px;

justify-content: space-between;

}
.endlogo{
    justify-content: space-between;
    
}
.endlogo a{
    text-decoration: none;
    color: #000;
}
.endlogo img{
    width: 50px;
}
.spann{
    margin-right: 20px;
    position: relative;
    top: 20px;
    right: 20px;
}
.spann span{
    justify-content: space-between;
    margin-left: 20px;
}
.iconss{
    width: 410px;
height: 56px;
gap: 10px;
position: relative;
top: 190px;
left: 20px;
padding-top: 30px;
border-top: 1px solid var(--Primary-floral-white-500,rgba(229, 231, 235, 1));

}
.spanter{
    position: relative;
    top: 40px;
    width: 327px;
    right: 170px;
}
.spanter a{
    text-decoration: none;
    color: #000;
}
.spanter span{
    margin-left: 20px;
}


}